* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Inter';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(25, 25, 25);
    padding: 0 15px;
}

.header-logo {
    color: rgb(26, 115, 238);
    font-size: 18px;
    font-weight: 700;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    position: relative;
}

.header-search {
    all: unset;
    border-radius: 5px;
    background-color: rgb(35, 35, 35);
    padding: 10px;
}

.header-search:focus ~ .search-menu {
    opacity: 1;
    visibility: visible;
    
}

.search-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #222222;
    width: 100%;
    top: 43px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    border: 1px solid; 
    border-color: rgb(48, 48, 48);
    z-index: 100;
}

.menu-text {
    padding: 5px;
    &:hover {
        background-color: rgb(50, 50, 50);
        transition: 0.3s;
    }
}

.header-link {
    font-weight: 500;
}

.header-link.lk {
    background-color: rgb(80, 80, 80);
    padding: 10px 15px;
    border-radius: 8px;
    &:hover {
        background-color: rgb(50, 50, 50);
        transition: 0.5s;
    }
}

@media screen and(max-width:400px) {
    .header{
        flex-direction: column;
           
    }

    .header-menu {
        flex-direction: column;
    }
    
}

.banner-list {
    display: flex;
    justify-content: center;
}

.banner {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
}

.banner.active {
    display: flex;
}

.banner img {
    width: 1000px;
    max-height: 500px;

}

.banner-text {
    position: absolute;
    font-size: 34px;
    top: 25%;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.banner-menu {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.banner-menu span {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgb(59, 59, 59);
    cursor: pointer;
    
}

.banner-menu .active {
    background-color: rgb(26, 115, 238);
}

.banner-name {
    background-color: rgb(0, 119, 255);
}

.banner-price {
    background-color: rgb();
}

.banner-buy {
    background-color: rgb(26, 115, 238);;

}